<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body class="h-100">
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top">Library App</a>
        <a class="nav-link active text-white" href="/profile">Profile</a>
    </div>
</nav>
<!-- Masthead-->
<div class="container bg-white text-center">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Genre</th>
            <th></th>
        </tr>
        <tr th:each="book: ${books}">
            <td th:text="${book.name}"/>
            <td th:text="${book.quantity}"/>
            <td th:text="${book.genre.name}"/>
            <td>
                <a th:href="@{/rent?bookId={id}(id=${book.id})}" th:style="${book.quantity <= 0 ? 'pointer-events: none' : ''}">
                <button type="button" class="btn btn-primary" th:disabled="${book.quantity <= 0}">Rent Book</button>
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>